body {
    
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    margin-right: 15%;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.itens {
    font-style: italic;
}

.imagembeneficios {
    width: 50%;
}